.generated-form label {
  font-size: 14px;
  margin-top: 0.5rem;
  margin-left: -0.25em;
}
.generated-form label .required-field {
  color: #B83211;
  padding-right: 0.25em;
  display: inline-block;
}
.generated-form .field-error-message {
  color: #B83211;
  font-size: 12px;
  margin: 0;
  padding-left: 0.5em;
}
